/*//////////////////
~~~~ Main Styles ~~~
//////////////////*/

body {
	position: relative;
}

/*//////////////////
~~~~~~ direct ~~~~~
//////////////////*/
#footer{

}


/*//////////////////
~~~~~~ classes ~~~~~
//////////////////*/
.scrollup{
    position:fixed;
	width:32px;
	height:32px;
    bottom:0px;
    right:20px;	
}
.paddingTop75{
	padding-top: 75px;
}