/* ===================================
layout
==================================== */

#wrapper{
	width:100%;
	margin:0;	
	padding:0;
	
}

#mainBodySidesContainer{
	background-image:url("../img/background1.jpg");
}

#mainBodyContainer{
	background-image:url("../img/whiteBackground.png");
}

/* ===============================
Divider, Line & Misc
================================ */

.solidline {
	border-top:1px solid #909090;
}

.dottedline {
	border-top:1px dotted #f5f5f5;
	margin:0 0 30px;
}

.dashedline {
	border-top:1px dashed #f5f5f5;
	margin:0 0 30px;
}

.blankline {
	height:1px;
	margin:0 0 30px;
}


/* scroll to top */
.scrollup{
    position:fixed;
	width:32px;
	height:32px;
    bottom:0px;
    right:20px;
	background: #222;
	
}

a.scrollup {
	outline:0;
	text-align: center;
}

a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
	opacity:1;
	text-decoration:none;
}
a.scrollup i {
	margin-top: 10px;
	color: #fff;
}
a.scrollup i:hover {
	text-decoration:none;
}
/* =============================
Spacer, margin
============================= */

.clear-marginbot{
	margin-bottom:0;
}
/* Margin Bottom */
.marginbot0{
	margin-bottom:0px;
}

.marginbot5{
	margin-bottom:5px;
}

.marginbot10{
	margin-bottom:10px;
}
.marginbot20{
	margin-bottom:20px;
}
.marginbot30{
	margin-bottom:30px;
}
.marginbot40{
	margin-bottom:40px;
}
/* Margin Top */
.margintop0{
	margin-top:0px;
}

.margintop5{
	margin-top:5px;
}

.margintop10{
	margin-top:10px;
}

.margintop20{
	margin-top:20px;
}

.margintop30{
	margin-top:30px;
}

.margintop40{
	margin-top:40px;
}

.margintop115{
	margin-top:115px;
}
/* Margin Left */
.marginleft0{
	margin-top:0px;
}

.marginleft5{
	margin-left:5px;
}

.marginleft10{
	margin-left:10px;
}

.marginleft20{
	margin-left:20px;
}

.marginleft30{
	margin-left:30px;
}

.marginleft40{
	margin-left:40px;
}
/* Margin Right */
.marginright0{
	margin-right:0px;
}

.marginright5{
	margin-right:5px;
}

.marginright10{
	margin-right:10px;
}

.marginright20{
	margin-right:20px;
}

.marginright30{
	margin-right:30px;
}

.marginright40{
	margin-right:40px;
}

.paddingtop10{
	padding: 10px 0 0 0;
}

/* ===============================
Footer
================================ */

footer{
	border-top: 3px solid black;
	padding:10px 0 10px 0;
	color:#ffffff;
	background: #44687d;
}

footer a {
	color:#fff;
}
/* Hover over anchor colors */
footer a:hover {
	color:#40693F;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
	color:#fff;
}

/* ===================================
Intel Main Page
==================================== */

#topBarMessage {
	padding-left: 20%;
	color:#000000;
	right: 50px;
	line-height: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#topBarFunctions{
	padding-left: 65%;
	color:#000000;
	right: 50px;
	line-height: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#IDMissionSModal{
	margin-top: 10px;
	margin-bottom: 15px;
	background-image:url("../img/ID_Mission_Statement_background.jpg");
}
#IDMissionS{
	padding:20% 8% 5% 5%;
	color: #fff;
}

#IDFunctSModal{
	margin-top: 10px;
	margin-bottom: 15px;
	background-image:url("../img/ID_functional_Statement_background.jpg");
}

#IDFunctS{
	padding:20% 5% 5% 5%;
	color: #fff;
}

#IDFunctCModal{
	right: 25%;
}

.navbar{
	border-bottom: 3px solid black;
}
/* Org Chart */

.node {
		  cursor: pointer;
		}

		.node circle {
		  fill: #fff;
		  stroke: steelblue;
		  stroke-width: 1.5px;
		}

		.node text {
		  font: 10px sans-serif;
		}

		.link {
		  fill: none;
		  stroke: #ccc;
		  stroke-width: 1.5px;
		}
/* ===================================
Offices
==================================== */
#sectionLabelForOffices{
	border-bottom: 2px solid gray;
}


/* ===================================
Extra
==================================== */
#searchBox{
	margin-top: 1%;
	float:right;
}

#logoPicture{
	margin-left: -7%;
}

.blankBar{
	padding:5px 0 5px 0;
	background:#F8F8F8;
}
.messageBar {
	margin-top: 0px;
	margin-bottom: 15px;
	padding:15px 17% 15px 17%;
	background-image:url("../img/Message_from_Director.jpg");
	border-bottom: 2px solid gray;
}
.messageBar p {
	color: #ffffff;
}

.messageBar h1, .messageBar h2, .messageBar h3, .messageBar h4, .messageBar h5, .messageBar h6{
	color: #ffffff;
	margin-top: 0px;
	border-bottom: 2px solid gray;
}
	/*
	blue color 44687d
	green 69A43A 
	lightest blue D8E3E9
	middle blue 80A1B6
	dark red 7a2426
	middle red d3222a
	*/
.fincenGreen{
	color: #40693F;
}
.fincenBlue{
	color: #051F2C;
}
.colorWhite{
	color: #ffffff;
}
.showNewLines{
	white-space: pre-line;
}
.borderBottomGray{
	border-bottom: 1px solid gray;
}

.noBulletPoint{
	list-style-type:none
}

.top-nav-collapse{
	padding: 0;
	border-bottom: 1px solid rgba(255,255,255,.3);
	background: #000;
}